#display {
  overflow-y: auto;
  height: 200px;
  margin: 2% 20% 2% 20%;
  padding: 5%;
  background-color: #6c698d;
  box-shadow: 5px 5px;
  border-radius: 4px 6px;
}

#console {
  width: 80%;
  border: 0px;
  background-color: #9694b2;
  box-shadow: 2px 2px;
  border-radius: 1px 2px;
}

#submitBtn {
  width: calc(20% - 10px);
  border: 0px;
  background-color: #53516d;
  box-shadow: 2px 2px;
  border-radius: 1px 2px;
}

.input {
  margin: 15px 20% 0 20%;
}

.headline {
  padding: 5% 0 5% 0;
  text-align: center;
}

.server {
  color: #af1d5d;
}
